# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/
.env

# IDE-specific files
.vscode/
.idea/

# Project-specific files
*.csv
video_info.csv

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# YouTube API credentials
client_secrets.json

# Temporary files
*.tmp

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
